{% extends 'base.html' %}
{% block content %}

<body style="background-color: rgb(176, 200, 228);">
    <center>
        <h1>Student Details</h1>
        <br>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STUDENT NAME</th>
                    <th>ADDRESS</th>
                    <th>AGE</th>
                    <th>JOINING DATE</th>
                    <th>COURSE</th>
                    <th>COURSE FEE</th>
                    <th>ACTION</th> 
                </tr>
            </thead>
            <tbody>
                {% for s in student %}
                <tr>
                    <td>{{s.student_name}}</td>
                    <td>{{s.student_address}}</td>
                    <td>{{s.student_age}}</td>
                    <td>{{s.joining_date}}</td>

                    <td>{{s.course.course_name}}</td>
                    <td>{{s.course.fee}}</td>
                    
                    <td><a href="{% url 'edit' s.id %}">Edit</a><br>
                        <a href="{% url 'delete' s.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>


</body>    

{% endblock %}